{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}  <ul class="nav navbar-nav navbar-right"><li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li></ul>{% endblock %}
{% block body %}
PAGE Admin
{% endblock %}

