{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block login %}<li><a href="{{ path('login') }}">Login</a></li>{%  endblock %}

{% block body %}

    <div class = "well">
        <h2><div class = "text-center">Acceuil du Portail</h2><br>
         <p></p><div class ="textacc">Beinvenue sur le portail relatif à la mintenance des differents logiciels utilisés par la Fédération français de football.<br>
    Les utilisateurs des differents outils données pourront ici déclarer des problêmes en liens avec ces outils qui seront résolus par des techniciens expérimentés.<br><br>
            Pour vous connecter veuillez cliquer Sur le bouton "Connexion" sinon si vous ne possédez pas de compte utilisitateur vous pourrez en créer un en cliquant sur "Inscription".<br><br> <div class = "text-center"><a href="{{ path('login') }}"><button class="btn btn-primary">Connexion</button></a>
            <a href="{{ path('ticketing_inscription') }}"><button class="btn btn-primary">Inscription</button></a>
        </div></div>







{% endblock %}