{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block login %}<li><a href="{{ path('login') }}">Login</a></li>{%  endblock %}

{% block body %}


    <h2>ACCEUIL</h2>




    <p>

        PAGE DE BASE QUADN PAS LOGGER

    </p>


{% endblock %}