{% block head %}<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <title> Portfolio de Lucas Cuoco</title>
    <div style=" background-image:url('http://www.synergie-informatique.fr/wp-content/uploads/2017/05/un-hacker-1200x640.png'); height: 150px;">
    </div>
    <nav class="navbar navbar-inverse bar">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('ticketing_homepage') }}"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
                {% block login %} {%  endblock %}
                {% block logout %} {%  endblock %}

            </ul>
        </div>
    </nav>
</head>
</div>

<body>
<div class = "container">
{% endblock %}
{% block body %}

{% endblock %}

</body>
</html>
